@font-face {
    font-family: 'Poppins';
    src: url('./Roboto/Roboto-Black.ttf'), format('TrueType');
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;   
    
}

html{
    font-size: 62.2%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
}

:root{
    --bg-color: rgb(17, 17, 17);
    --text-color: rgb(226, 226, 226);
    --main-color: rgb(133, 9, 9);
}
// vars
$linear-color: rgba(133, 9, 9, 0.813);
// header design
header.sticky{
    box-shadow: 0px -11px 3rem white;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
    background-color: var(--bg-color);
}
.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
}
.navbar {
    display: flex;
    position: relative;
    a{
        font-size: 20px;
        color: var(--text-color);
        margin: 2.5rem;
        transition: all .3s;
        &:hover{
            color: var(--main-color);
        }
        &.active{
            color: var(--main-color);
        }
    }
}
#menu-icon{
    display: none;
    font-size: 2.5rem;
    color: var(--text-color);
    &:hover{
        cursor: pointer;
        color: var(--main-color);
    }
}
#xmark{
    display: none;
    font-size: 25px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    &:hover{
        cursor: pointer;
        color: var(--main-color);
    }

}

/* Home design */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 8rem 7% 2rem 5rem;
    background-color: black;
    h1{
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.3;
    }
    h2.heading{
        text-align: center;
        font-size: 4rem;
        margin: 4rem;
    }
    h3{
        font-size: 2.5rem;
        font-weight: 700;
    }
    p{
        font-size: 1.6rem;
    }
    span{
        color: var(--main-color);
    }
    .btn{
        font-size: 18px;
        display: inline-block;
        padding: 15px 2rem;
        border-radius: 4rem;
        background-color: var(--main-color);
        color: var(--text-color);
        box-shadow: 0 0 0.7rem var(--main-color);
        font-weight: 600;
        transition: all .4s ease;
        &:hover{
            box-shadow: 0 0 1.7rem var(--main-color);
        }
    }
}

section.home{
    .home-img {
        padding-left: 10rem;
        img{
            height: auto;
            width: 30vw;
            animation: floatImg 4s ease-in-out infinite;
        }
    }
    .home-content{
        
        h3:nth-of-type(2) {
            margin-bottom: 20px;
        }
    }
    
    .social-media{
        margin: 3rem 0;
        a{
            color: var(--main-color);
            font-size: 19px;
            margin-right: 12px;
            padding: 10px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            border: 3px solid var(--main-color);
            transition: all .4s;
        }
        a:hover{
            background-color: var(--main-color);
            color: var(--text-color);
            box-shadow: 0 0 2rem var(--main-color);
        }
    } 
    .btn{
        margin-right: 5px;
    }
}

section.about{
    gap: 6rem; // represente l'espace entre les elements
    padding: 3rem 3rem;
    background-color: var(--bg-color);
    img{
        width: 30rem;
        height: auto;
        border-radius: 11rem 4rem 11rem 4rem;
    }
    .about-content{
        h2{
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.3;
        }
        p{
            font-size: 1.6rem;
            margin: 1.5rem 0;
        }
    }
}

section.services{
    display: block;
    .services-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        .service-box{
            /*La propriété flex est une propriété raccourcie qui définit la capacité 
            d'un élément flexible à modifier ses dimensions afin de remplir l'espace disponible de son conteneur.
            */
            flex: 1 1 30rem;
            border: 1px solid var(--bg-color);
            padding: 10px 30px;
            border-radius: 4rem;
            background-color: var(--bg-color);
            text-align: center;
            transition: all .4s;
            &:hover{
                border-color: var(--main-color);
            }
            i{
                font-size: 5rem;
                color: var(--main-color);
            }
            h3{
                font-size: 24px;
                margin-top: 10px;
            }
            p{
                margin: 15px 0;
            }
        }
        .btn{
            font-size: 18px;
            padding: 10px 15px;
        }
    }
    
}

section.projects{
    display: block;
    img{
        height: 100%;
        width: 100%;
        transition: all .4s;
    }
    .projects-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2rem;
    }
    .project-box{
        height: 21rem;
        position: relative;
        display: flex;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0 0 1rem black;
        
        &:hover img{
            transform: scale(1.1);
        }
        &:hover .project-layer{
            transform: translateY(0);
        }
        .link{
            padding: 1.5rem;
            border-radius: 50%;
            background-color: var(--bg-color);
            color: var(--text-color);
            font-size: 20px;
        }
    }
    .project-layer{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.818), $linear-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 5px;
        gap: 10px;
        transform: translateY(100%);
        transition: all .4s;
    }
}

section.contact{
    display: block;
    background-color: var(--bg-color);
    h2{
        text-align: center;
        font-size: 4rem;
        margin-bottom: 4rem;
    }
    .contact-container{
        margin-top: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a{
            font-size: 18px;
            display: flex;
            align-items: center;
            &:hover > i{
                transform: scale(1.2);
            }
        }
        .email{
            margin: 20px 0;
        }
        p, i{
            font-size: 19px;
            transition: all .4s ease;
        }
        p{
            margin-right: 10px;
        }
        
    }
}

/* Design footer */
footer{
    position: relative;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    a{
        font-size: 18px;
        position: absolute;
        right: 3rem;
        bottom: 1rem;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        color: var(--text-color);
        background-color: var(--main-color);
        box-shadow: 0 0 0.5rem var(--main-color);
        transition: all .2s ease;
        &:hover{
            box-shadow: 0 0 1.5rem var(--main-color);
        }
    }
}
.footer-content{
    width: 80%;
    p{
        font-size: 17px;
        text-align: center;
    }
}



// animations

@keyframes floatImg {
    0%{ transform: translateY(0); }
    50%{ transform: translateY(-2.5rem); }
    100%{ transform: translateY(0); }
}

// media screen
@media screen and (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media screen and (max-width: 917px) {
    section{
        padding: 2rem 9%;
    }
    #header{
        padding: 0 4%;
    }
}

@media screen and (max-width: 793px) {
    html{
        font-size: 53%;
    }
    #menu-icon{
        display: block;
    }
    #header {
        padding: 2rem 4%;
        a{
            text-align: start;
        }
        .navbar{
            position: absolute;
            top: 0;
            right: 0;
            width: 30%;
            height: 100vh;
            padding: 1rem 3%;
            background-color: var(--bg-color);
            display: flex;
            flex-direction: column;
            transform: translateX(30rem);
            transition: all .4s;
            &.active{
                transform: translateX(0);
            }
        }
        #xmark{
            display: block;
        }
    }
    section.home{
        flex-direction: column-reverse;
        padding-top: 10rem;
        .home-img img{
            width: 50vw;
        }
    }
    section{
        h2.heading{
            margin: 8rem;
        }
    }
    section.about{
        flex-direction: column;
        .about-img img{
            width: 50vw;
        }
    }
    section.projects{
        .projects-container{
            grid-template-columns: repeat(1, 1fr);
        }
        .project-img{
            margin: 0 auto;
        }
        .project-box{
            .project-layer{
                transform: translateY(0);
            }
        }
    }

}

@media screen and (max-width: 550px) {
    section.home{
        padding-top: 4rem;
        .home-img {
            padding: 10px;
            img{
                width: 90vw;
            }
        }
    }
    section.about{
        .about-img {
            padding: 10px;
            img{
                width: 90vw;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        height: 12rem;
        a{
            position: initial;
        }
    }
    .footer-content{
        
        p{
            font-size: 19px;
            padding: 10px 0;
        }
        
    }
}
@media screen and (max-width: 500px) {
    html{
        font-size: 50%;
    }
}

